.header {
    padding: 00px;
    margin: 00px;
    text-align: center;
    background: rgb(1, 1, 142);
    color: white;

}

.main {
    background-color: lightgray;
    padding: 1em;
}

body {
    background-image: url("https://raw.githubusercontent.com/0cticon/prime-pw-week-5-assignment-part-2/main/assignment/record.png");

    margin: 0;
    padding: 0;
}